$color-general: #FFF;

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    scrollbar-color: #454a4d #202324;
}

h2 {
    text-align: center;
}

.content h2 {
    font-weight: bold;
    margin-top: 10rem;
    text-align: center;
    text-decoration: underline;
    border-bottom: none;
}

.fixed-top-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40;
}

.navbar .container{
    justify-content: center;
}

.navbar-brand, .nav-link {
    color: $color-general;
}

.barra-de-busqueda {
    position: absolute;

    justify-content: center !important;
    width: 70%;
    form {
        display: flex;
        justify-content: center;
        width: 103%;
    }
}

.barra-de-busqueda .input-group {
    width: 55%;

    input:focus {
        box-shadow: none;
    }

    .input-group-text{
        border-radius: 25px 0 0 25px;
    }
    .input-group-append .btn {
        border-radius: 0 25px 25px 0;
    }
}

.menu-secciones {
    background-color: #2c2d36;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    a {
    margin: 0 15px;
    color: $color-general;
    text-decoration: none;
    font-weight: 500;
    &:hover{
        text-decoration: underline;
    }
    }

    
}

.footer {
    background-color: #343a40;
    padding: 20px 0;
    a {
        color: $color-general;
    }
}

.navbar-collapse {
    flex-grow: 0;
}

#navbarNav ul li a{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}